.containerMacchine {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  padding: 20px;
}

.logo-marca {
  width: 150px;
  height: auto;
}

.auto-item {
  position: relative;
  width: 280px;

  border-radius: 10px;
  overflow: hidden;
  transition: box-shadow 0.3s ease;
  cursor: pointer;
}

.auto-item:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.immagine-auto {
  width: 100%;
  height: auto;
  display: block;
}

.caratteristiche-nota {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  padding: 15px;
  transform: translateY(100%);
  opacity: 0;
  transition: transform 0.4s ease-out, opacity 0.4s ease-out;
}

.caratteristiche-nota h3 {
  font-size: 1.2rem;
  margin-top: 0;
  margin-bottom: 10px;
}

.caratteristiche-nota ul {
  list-style: none;
  padding: 0;
  font-size: 0.9rem;
  line-height: 1.3;
}

.auto-item:hover .caratteristiche-nota {
  transform: translateY(0);
  opacity: 1;
}
