/* CSS PER TUTTI I BOX E I CONTAINER */

.homeBox {
  background-color: #0f2339;
  color: white;
  padding: 30px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 450px;
  transition: 0.3s ease;

  p {
    font-size: 1.8em;
    margin-top: 70px;
  }

  h1 {
    font-size: 2.2em;
  }
}
.homeBox:hover {
  transform: scale(0.99);
  box-shadow: 0 5px 5px;
}
.homeContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}
.contattiBox {
  background-color: #0f2339;
  color: white;
  padding: 30px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 600px;

  p {
    font-size: 1.8em;
    margin-top: 70px;
  }

  h1 {
    font-size: 2.2em;
  }
}
.contattiContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}
.boxPosizione {
  display: block;
  width: 100%;
  max-width: 100%;
  iframe {
    width: 100%;
    height: 350px;
  }
  img {
    vertical-align: bottom;
    width: 100%;
    height: 350px;
  }
}

.boxDoppio {
  display: flex;
  background-color: #0f2339;
  width: 100%;
  height: 400px;
  position: relative;
  overflow: hidden;

  #left {
    width: 55%;
    background-color: white;
    clip-path: polygon(0 0, 85% 0, 100% 100%, 0 100%);
    color: #0f2339;
    font-family: "Verdana", sans-serif;
    font-size: 60px;
    font-weight: 700;
    line-height: 1.2;
    padding: 50px 0 0 50px;
    z-index: 2;

    #right {
      width: 45%;
      height: 100%;
      z-index: 1;
      display: block;
      position: relative;
    }
  }
}
