/* CSS SOLO PER LA PAGINA  PRENOTA */
h1,
h2 {
  color: white;
  text-align: center;
}

label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
  color: white;
  text-align: center;
}
input[type="text"],
input[type="number"],
select {
  padding: 8px;
  margin-top: 4px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
button {
  margin-top: 20px;
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
button:hover {
  background-color: #0056b3;
}
#risultato {
  margin-top: 40px;
  border: 2px solid #007bff;
  background-color: #e2f0e9;
  border-radius: 5px;
  font-size: 1.1em;
  font-weight: bold;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: black;
}
.containerPrenota {
  max-height: 1600px;
  width: 80%;
  margin: 0 auto;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  padding: 10px 40px;
}
